
@{
    ViewBag.Title = "Help";
}

<h2>Help</h2>
<p>
    On thispage you can read the <a href="#">FAQ's</a>, <a>Request Help</a> for a specific problem of lab, or
    <a>Report a Bug</a> with the system.
</p>

<p>
    <b>IMPORTANT:</b> To be able to run the Service Broker you must have pop-ups enabled
</p>
<p>
</p>

